.page__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.page {
    border: 1px solid teal;
    padding: 10px;
}

.page__current {
    background: teal;
    color: white;
}
